<h1>WELCOME TO BLOGTOWN MOTHERFUCKER</h1>

<%= link_to "Create new Blog", new_blog_url %>


<% @blog_posts.each do |blog_post| %>
  <p><%= link_to blog_post.title, blog_path(blog_post) %></p>
  <p><%= blog_post.body %></p>
  <p><%= blog_post.author %></p>
  <p><%= blog_post.subject %></p>
  <p><%= blog_post.year %></p>
  <%= link_to "Edit", edit_blog_path(blog_post) %>
  <%= link_to "Delete Post", blog_path(blog_post), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>